<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>K Assignmentt</title>
    <link rel="stylesheet" href="/k-main.css"></link>
</head>
<body>
    {{{body}}}
    <script src="/k-assignment.js"></script>
</body>
</html>