<div id="status-wrapper">
    {{#if userDetails.status}}
        <span class="status_icon active"></span>
    {{else}}
        <span class="status_icon inactive"></span>
    {{/if}}
    <span class="status inactive">INACTIVE</span>
</div>